<!-- code a Hero / Banner section -->
<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)),
 url('https://images.unsplash.com/photo-1591951425328-48c1fe7179cd')">
  <div class="container banner-container align-content-center">
    <h1>Connecting <strong>book owners</strong> and <strong>book borrowers</strong>!</h1>
    <%= link_to "See what's out there", books_path, class: "btn btn-primary btn-lg shadow root-btn" %>
  </div>
</div>

<div class="container root">
  <h2 class="p-4">Our offer</h2>
  <div class="row">
    <div class="col-sm-6">
      <div class="card root h-100">
        <div class="card-body p-5">
          <h3 class="card-title">Rent out your books</h3>
          <p class="card-text">You have books just laying around? Rent-them to our community members.
            Unlock the magic of reading by sharing your collection with our vibrant community!
            Have a treasure trove of books? Let your literary gems find new homes by renting them out to fellow members.
            Join us in creating a shared world of knowledge and stories – because great books deserve to be passed on!</p>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card root h-100">
        <div class="card-body p-5">
          <h3 class="card-title">Borrow pre-loved books</h3>
          <p class="card-text">You would like to read books? Borrow them from our community members.
          Dive into a world of endless possibilities by borrowing captivating books from our generous community members!
          If you have a thirst for knowledge or a craving for thrilling stories, look no further.
          Join our community, where book lovers come together to share the joy of reading.
          Borrowing has never been more exciting – let the adventure begin!</p>
        </div>
      </div>
    </div>
  </div>
</div>
