<!-- code a Hero / Banner section -->
<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)),
 url('https://images.unsplash.com/photo-1591951425328-48c1fe7179cd')">
  <div class="container">
    <h1>Connecting <strong>book owners</strong> and <strong>book borrowers</strong>!</h1>
  </div>
</div>

    <!-- code a "How it works" section -->

<div class="container">
  <h2>Our offer</h2>
  <div class="row">
      <div class="card col">
        <%# <img src="https://lewagon.github.io/landing-page-challenge/images/apply.svg"> %>
        <h3>Rent-out your books</h3>
        <p>You have books ? Rent-them to our community members</p>
      </div>
      <div class="card col">
        <%# <img src="https://lewagon.github.io/landing-page-challenge/images/learn.svg"> %>
        <h3>Borrow books</h3>
        <p>You would like to read books? Borrow them from our community members </p>
      </div>
    </div>
</div>
