.card {
  border-radius: 6px;
  height: 750px;
  box-shadow: 0 6px 6px rgba(#000, 0.3);
}

.container.map {
  margin: 50px auto;
  max-height: fit-content;
}

.card.map {
  max-height: 500px;
}

.card.explain {
  height: 100%;
}

.card img {
  height: 500px;
}

.card-btn {
  border-radius: 6px;
}

.see-more-btn {
  position: absolute;
  top: 695px;
  left: 16px;
}

.card-overflow {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis " ...";
  height: 150px;
}

.root-container {
  padding-top: 50px;
  text-align: center;
}

.root-card {
  height: 300px;
  width: 150px;
  margin: 50px;
}

.root-card-content {
  margin: 20px;
}

.root-btn {
  margin-top: 10px;
  border-radius: 6px;
}
