.navbar {
  justify-content: space-between;
  background-color: transparent;
}

.nav-left {
  align-items: center;
}

.nav-brand {
  text-decoration: none;
  color: black;
  font-size: 1.8rem;
  padding-left: 20px;
}

.nav-form {
  justify-content: flex-center;
}

.nav-form button {
  border-radius: 6px;
  margin-left: 3px;
}

.nav-form input {
  border-radius: 6px;
}

.nav-item {
  margin-right: 16px;
}
